.forzado{background: red;}

/*-Variables-*/


:root {--blanco: white;}
:root {--azul: #053670;}
:root{--naranja:#E8863B;}
:root{--azulclaro:#408FEC;}



.muestralo{opacity: 1 !important;}




/*mediaquerys*/
@custom-media --XXSmallMobile (max-width: 350px);
@custom-media --XSmallMobile (max-width: 375px);
@custom-media --SmallMobile (max-width: 460px);
@custom-media --MediumMobile (max-width: 533px);
@custom-media --Mobile (max-width: 640px);    /*<--------Mobile*/
@custom-media --SmallTablet (max-width: 860px);
@custom-media --Tablet (max-width: 1029px); /*<--------Tablet*/
@custom-media --SmallDesktop (max-width: 1170px);
@custom-media --MediumDesktop (max-width: 1250px);
@custom-media --LargeDesktop (max-width: 1400px);
@custom-media --4k (min-width: 1500px);


/*fuentes*/


@font-face {
    font-family: 'glenn';
    src: url('../fonts/glenn-sans-extra.eot');
    src: url('../fonts/glenn-sans-extra.eot?#iefix') format('embedded-opentype'),
        url('../fonts/glenn-sans-extra.woff2') format('woff2'),
        url('../fonts/glenn-sans-extra.woff') format('woff'),
        url('../fonts/glenn-sans-extra.otf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'glenn';
    src: url('../fonts/glenn-sans-bold.eot');
    src: url('../fonts/glenn-sans-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/glenn-sans-bold.woff2') format('woff2'),
        url('../fonts/glenn-sans-bold.woff') format('woff'),
        url('../fonts/glenn-sans-bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}







/*--Generales--*/


.btn{
	color: white;
	display: block;
	height: 50px;
	line-height: 50px;
	background: #E8863B;
	padding: 16px 0;
	text-align: center;
	border-radius: 10px;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.39);
box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.39);
font-family: 'Roboto', sans-serif;
font-size: 1em;
text-transform: uppercase;
font-weight: bold;
text-decoration: none;
transition:all .3s;
	&:hover{
		background:#ba6524;
	}
}

img{
	width: 100%;
	height: auto;
	display: block;
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

a[href^="tel"] {
  color: inherit; /* Inherit text color of parent element. */
  text-decoration: none; /* Remove underline. */
  /* Additional css `propery: value;` pairs here… */
}

html{
	font-size: 15px;
}

body{
	
    position: relative;

}


body,h1,h2,h3,h4,p,ul,li,a{
	margin: 0 !important;
	padding: 0 !important;
}

h1{
	font-family: 'glenn';
	font-weight: bolder;
	font-size: 3.5em;

	@media(--MediumDesktop){
		font-size: 2.5em;
	}

	@media(--SmallMobile){
		font-size: 2em;

	}
}

h2{
	font-family: 'glenn';
	font-weight: bold;
	font-size: 2em;

	@media(--MediumDesktop){
		font-size: 1.5em;
	}

	@media(--SmallMobile){
		font-size: 1em;

	}
}


p{
	color: #707070;
	font-weight: 400;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	@media(--MediumDesktop){
		font-size: 13px;
	}
}



.padre{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction:row;
	flex-wrap: wrap;
	-webkit-flex-wrap:wrap;

}

.padre-separado{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction:row;
	flex-wrap: wrap;
	-webkit-flex-wrap:wrap;
	justify-content:space-between;
	-webkit-justify-content:space-between;
}

.padre-equilibrado{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction:row;
	flex-wrap: wrap;
	-webkit-flex-wrap:wrap;
	justify-content:space-around;
	-webkit-justify-content:space-around;
}



.padre-centrado{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction:row;
	flex-wrap: wrap;
	-webkit-flex-wrap:wrap;
	align-items: center;
	-webkit-align-items:center;
}


.division{
	width: 100%;
	height: 1px;
	background: #e6e6e6;
	margin: 15px 0;
}

.division-vert-percent{
	width: 1px;
	height: 100%;
	background: #e6e6e6;
	@media (--Mobile){
		display: none;
	}
}







/*COLUMNAS*/

.col12{
	 lost-column: 12/12;
}

.col11{
	lost-column: 11/12;

	@media (--SmallTablet){
		lost-column: 12/12;
	}
}


.col10{
	lost-column: 10/12;

	@media (--SmallTablet){
		lost-column: 12/12;
	}
}

.col9{
	lost-column: 9/12;

	@media (--SmallTablet){
		lost-column: 12/12;
	}
}

.col8{
	lost-column: 8/12;

	@media (--SmallTablet){
		lost-column: 12/12;
	}
}

.col7{
	lost-column: 7/12;

	@media (--SmallTablet){
		lost-column: 12/12;
	}
}

.col6{
	lost-column: 6/12;

	@media (--SmallTablet){
		lost-column: 12/12;
	}
}


.col5{
	lost-column: 5/12;

	@media (--SmallTablet){
		lost-column: 12/12;
	}
}


.col4{
	lost-column: 4/12;

	@media (--SmallTablet){
		lost-column: 12/12;
	}
}


.col3{
	lost-column: 3/12;

	@media (--SmallTablet){
		lost-column: 12/12;
	}
}


.col2{
	lost-column: 2/12;

	@media (--SmallTablet){
		lost-column: 12/12;
	}
}


.col1{
	lost-column: 1/12;

	@media (--SmallTablet){
		lost-column: 12/12;
	}
}

.fila{
	
	lost-utility: clearfix;
}

.mob{
	display: none;
	@media(--Mobile){
		display: block;
	}

}

.desk{
	display: block;
	@media(--Mobile){
		display: none;
	}

}


/*navegacion movil*/

.abierto{height: 50vh !important;}
.nav-movil{
	position: fixed;
	z-index: 9999;
	height: 0;
	width: 100vw;
	background: url(../img/nav-pattern.png) repeat;
	display: flex;
	display: -webkit-flex;
	align-items:center;
	-webkit-align-items:center;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
overflow: hidden;
transition:all .3s;
	&-wrapper{
		max-width: 200px;
		margin: 0 auto;
		color: white;
		text-align: center;
		& ul{
			list-style: none;
			& li{
				
				& a{
					padding: 10px 0 !important;
					display: block;
					color: white;
					text-decoration: none;
					font-size: 15px;
					font-family: "glenn";
				}
			}
		}
	}

	&-cerrar{
		position: absolute;
		width: 100%;
		background: var(--naranja);
		bottom: 0;
		left: 0;
		text-align: center;
		& a{
			display: block;
			padding: 10px 0 !important;
			color: white;
			font-family: "glenn";
			text-decoration: none;
		}
	}
}

/*navegacion Desk*/

.navegacion-principal{
	width: 45%;
	@media(--SmallTablet){
		width: 60%;
	}
	& ul{
		display: flex;
		display: -webkit-flex;
		flex-direction:row;
		-webkit-flex-direction:row;
		flex-wrap:wrap;
		-webkit-flex-wrap:wrap;
		align-items:center;
		-webkit-align-items:center;
		justify-content:space-around;
		-webkit-justify-content:space-around;

		& li{
			list-style: none;
			& a{
				font-size: 0.8em;
				color: #707070;
				text-decoration: none;
				text-transform: uppercase;
					font-family: 'glenn';
					font-weight: bold;
			}
		}
	}
}

/*cabecera*/


.cabecera{
	
	background: white;
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100vw;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.39);
box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.39);


	&-wrapper{
		padding: 5px 30px;
		max-width: 90%;
		margin: 0 auto;
		display: flex;
		display: -webkit-flex;
		flex-direction:row;
		-webkit-flex-direction:row;
		flex-wrap:wrap;
		-webkit-flex-wrap:wrap;
		justfify-content:space-between;
		-webkit-justify-content:space-between;
		align-items:center;
		-webkit-align-items:center;

		&-logo{
			max-width: 200px;
			@media(--Mobile){
				max-width: 150px;
			}
		}
	}
}

.home-hero{
	overflow: hidden;
	position: relative;
	max-height: 100vh;

	@media(--Mobile){
		max-height: 100%;
	}
	&-riel{
		width: 300%;
		display: flex;
		display: -webkit-flex;
		flex-direction:row;
		-webkit-flex-direction:row;
		flex-wrap:wrap;
		-webkit-flex-wrap:wrap;

		&-item{
			width: 100vw;
			position: relative;
			transition:all .3s;

			&-texto{
				position: absolute;
				width: 70%;
				top: 35%;
				text-align: center;
				left: 0;
				right: 0;
				margin: 0 auto;
				& h1{
					color: white;
					font-size: 70px;
					line-height: 75px;
					@media(--MediumDesktop){
						font-size: 50px;
						line-height: 55px;
					}

					@media (--SmallTablet){
						font-size: 35px;
						line-height: 50px;
					}

					@media (--Mobile){
						font-size: 35px;
						line-height: 45px;
					}

					@media (--SmallMobile){
						font-size: 20px;
						line-height: 30px;
					}
				}
			}
		}
	}

	&-puntos{
		position: absolute;
		bottom: 50px;
		width: 10%;
		left: 0;
		right: 0;
		margin: 0 auto;
		@media (--SmallTablet){
						width: 20%;
					}


					@media (--SmallMobile){
						width: 30%;
					}

		& ul{
			display: flex;
		display: -webkit-flex;
		flex-direction:row;
		-webkit-flex-direction:row;
		flex-wrap:wrap;
		-webkit-flex-wrap:wrap;
		justify-content:space-around;
		-webkit-justify-content:space-around;
		list-style: none;
		cursor: pointer;

		& li{
			width: 15px;
			height: 15px;
			background: white;
			border-radius: 50%;
			border: 2px solid white;
			transition:all .3s;
		}

		& .activo{
			background: var(--azul);
		}
		}
	}
		

		
	
}


.metodologia{
	 background-image: -webkit-image-set(url('../img/home-metodologia-bg.png') 1x, url('../img/home-metodologia-bg@2x.png') 2x);
	 position: relative;
	 min-height: 100vh;
	 overflow: hidden;

	 @media(--SmallTablet){
	 	min-height: 100%;
	 	padding-bottom: 100px;
	 }

	 &-wrapper{
	 	padding: 5% 0;
	 	max-width: 80%;
	 	margin: 0 auto;

	 	&-titulo{
	 		text-align: center;
	 		& h1{
	 			color: var(--azul);
	 		}

	 		& p{
	 			max-width: 50%;
	 			margin: 10px auto !important;
	 			display: block;
	 			@media(--Mobile){
	 				max-width: 100%;
	 			}
	 		}

	 		& a{
	 			font-family: 'Roboto', sans-serif;
	 			color: var(--azul);
	 		}
	 	}

	 	&-indicador{
	 		
	 		max-width: 80%;
	 		margin:21% auto 0 auto; 
	 		position: relative;
	 		@media(--MediumDesktop){
	 			margin: 25% auto 0 auto;
	 		}

	 		

	 		@media (--Tablet){
	 			margin:35% auto 0 auto; 
	 		}

	 		 @media(--SmallTablet){
			 	margin:45% auto 0 auto; 
			 }

			 @media(--Mobile){
			 	margin:50px auto 0 auto; 
			 	max-width: 50px;
			 }


			 @media(--SmallMobile){
			 	margin:50px auto 0 auto; 
			 	max-width: 20px;
			 }


	 		&-linea{
	 			height: 40px;
	 			border-radius: 50px;
	 			border-top: 2px solid rgba(0,0,0,0.6);
	 			border-bottom: 2px solid rgba(255,255,255,0.5);
	 			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#053670+0,031b38+100 */
background: #053670; /* Old browsers */
background: -moz-linear-gradient(left, #053670 0%, #031b38 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #053670 0%,#031b38 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #053670 0%,#031b38 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053670', endColorstr='#031b38',GradientType=1 ); /* IE6-9 */
					@media(--Mobile){
						height: 500px;
					}

					& .paso1{
						left:-77px;
						@media(--Mobile){
							left: -75px;
							top: 0;
						}
						@media(--SmallMobile){
						 	left: -90px;
							 }
						}
					& .paso2{
						left: 40%;
						@media(--Mobile){
							left: -75px;
							top: 44%;
						}
						@media(--SmallMobile){
						 	left: -90px;
							 }

						}
					& .paso3{
						right: -77px;
						@media(--Mobile){
							left: -75px;
							top: 445px;
						}
						@media(--SmallMobile){
						 	left: -90px;
						 	top: 470px;
							 }
						}
					&-paso{
						position: absolute;
						top: -10px;
						width: 200px;

						& .cir1{background: #f1d039;
background: -moz-linear-gradient(45deg, #f1d039 0%, #e4ff7c 100%);
background: -webkit-linear-gradient(45deg, #f1d039 0%,#e4ff7c 100%);
background: linear-gradient(45deg, #f1d039 0%,#e4ff7c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1d039', endColorstr='#e4ff7c',GradientType=1 );}
						& .cir2{background: #004c88;
background: -moz-linear-gradient(45deg, #004c88 1%, #258edd 100%);
background: -webkit-linear-gradient(45deg, #004c88 1%,#258edd 100%);
background: linear-gradient(45deg, #004c88 1%,#258edd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c88', endColorstr='#258edd',GradientType=1 );}
						& .cir3{background: #2f7f46;
background: -moz-linear-gradient(45deg, #2f7f46 2%, #66cc82 100%);
background: -webkit-linear-gradient(45deg, #2f7f46 2%,#66cc82 100%);
background: linear-gradient(45deg, #2f7f46 2%,#66cc82 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f7f46', endColorstr='#66cc82',GradientType=1 );}

						&-circulo{
							position: absolute;
							width: 60px;
							height: 60px;
							margin:  0 auto;
							top: 0;
							left: 0;
							right: 0;
							background: white;
							border-radius: 50%;
							-webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.39);
							-moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.39);
							box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.39);
							z-index: 3;
							transition:all .3s;
							cursor: pointer;
							border-top: 1px solid rgba(255,255,255,0.2);

							 @media(--SmallMobile){
						 	width: 40px;
							height: 40px;
							 }

							&:hover{
								transform:scale(1.2,1.2);
							}

						}

						&-informacion{
							opacity: 0;
							background: white;
							position: absolute;
							left: 0;
							width: 150%;
							top: -220px;
							-webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.39);
							-moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.39);
							box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.39);
							border-radius: 10px;
							padding: 20px;
							transition:all .3s;
							@media(--MediumDesktop){
								width: 120%;
								top: -200px;
							}

							@media(--Mobile){
								width: 100px;
								top: 0px;
								left:-100px;
							}

							@media(--SmallMobile){
						 	left: -50px;
						 	width: 80px;
							 }



							& h3{
								color: var(--azul);
								padding-bottom: 5px !important;
								font-family: "glenn";
								font-weight:bold;
								font-size: 15px;

								@media(--SmallMobile){
						 		font-size: 12px;
							 }

							}

							& img{
								width: 60px;
								margin-bottom: 10px;
								@media(--MediumDesktop){
								width: 40px;
							}
							}
						}

						&-radar{
							position: absolute;
							width: 60px;
							height: 60px;
							margin:  0 auto;
							top: 0px;
							left: 0;
							right: 0;
							border-radius: 50%;
							background: rgba(5, 54, 112, 0.5);
							transition:all .3s;
							 animation-name:radar;
							 -webkit-animation-name:radar;
							 -moz-animation-name:radar;-
							 -o-animation-name:radar;
    						 -webkit-animation-duration: 2s;
    						 -moz-webkit-animation-duration: 2s;
    						 -o-webkit-animation-duration: 2s;
    						  animation-iteration-count: infinite;
    						  -webkit-animation-iteration-count: infinite;
    						  -o-animation-iteration-count: infinite;
    						  -moz-animation-iteration-count: infinite;
    						   @media(--SmallMobile){
						 	width: 40px;
							height: 40px;
							 }
						}


						&-radar-2{
							position: absolute;
							width: 60px;
							height: 60px;
							margin:  0 auto;
							top: 0px;
							left: 0;
							right: 0;
							border-radius: 50%;
							background: rgba(5, 54, 112, 0.2);
							transition:all .3s;
							 animation-name:radarnu;
							 -webkit-animation-name:radarnu;
							 -moz-animation-name:radarnu;
							 -o-animation-name:radarnu;
    						 -webkit-animation-duration: 4s;
    						 -moz-webkit-animation-duration: 4s;
    						 -o-webkit-animation-duration: 4s;
    						  animation-iteration-count: infinite;
    						  -webkit-animation-iteration-count: infinite;
    						  -o-animation-iteration-count: infinite;
    						  -moz-animation-iteration-count: infinite;
    						   @media(--SmallMobile){
						 	width: 40px;
							height: 40px;
							 }
						}

						&-titulo{
							margin-top: 50%;
							@media(--Mobile){
								display: none;
							}

							& h2{
								color: var(--azul);
								text-align: center;
								font-size: 1.7em;
								@media(--MediumDesktop){
									font-size: 1.1em;
								}
							}
						}
					}

	 		}
	 	}


	 }

}



.inter{
	max-height: 100vh;
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	flex-direction:row;
	-webkit-flex-direction:row;
	flex-wrap:wrap;
	-webkit-flex-wrap:wrap;
	@media(--SmallTablet){
			max-height: 100%;
		}

	& .imagen{
		
		width: 50%;
		@media(--SmallTablet){
			width: 100%;
		}

	}


	&-texto{
		width: 50%;
		display: flex;
	display: -webkit-flex;
	align-items:center;
	-webkit-align-items:center;
	@media(--SmallTablet){
		width: 100%;

	}
		&-wrapper{
			width: 50%;
			margin: 0 auto;
			text-align: center;

			@media(--SmallTablet){
			margin: 50px auto;
		
			}

			& img{
			width: 100px;
			margin: 0 auto 15px auto;
			}

			& p{
				font-size: 20px;
				line-height: 30px;
				font-family: "glenn";
				font-weight:bold;
				color: #707070;
				@media(--SmallDesktop){
					font-size: 15px;
				}
				
			}
		}
	}

	&-foto{
		width: 100px !important;
		background: #666;
		height: 200px;
		& img{
			width: 100%;
			height: auto;
			display: block;
		}
	}
}


/*noticias home*/

.noticias{
	position: relative;
	min-height: 100vh;
	background: #053670;
background: -moz-linear-gradient(top, #053670 0%, #3b6190 100%);
background: -webkit-linear-gradient(top, #053670 0%,#3b6190 100%);
background: linear-gradient(to bottom, #053670 0%,#3b6190 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053670', endColorstr='#3b6190',GradientType=0 );
	@media(--SmallTablet){
		min-height: 100%;
	}

	&-wrapper{
		position: relative;
		z-index: 2;
		max-width: 80%;
		margin: 0 auto;
		padding: 7% 0;
		@media(--SmallDesktop){
					max-width: 90%;
				}

		&-titulo{
			text-align: center;
			margin-bottom: 60px;
			& h1{
				color: white;
			}
		}

		&-content{
			display: flex;
			display: -webkit-flex;
			flex-direction:row;
			-webkit-flex-direction:row;
			flex-wrap:wrap;
			-webkit-flex-wrap:wrap;
			justify-content:space-around;
			-webkit-justify-content:space-around;

			&-item{
				width: 25%;
				background: white;
				border-radius: 5px;
				padding: 35px;
				transition:all .3s;
				@media(--SmallDesktop){
					width: 22%;
				}

				@media(--SmallTablet){
					width: 100%;
					margin: 10px 0;
				}
				

				& h2{
					color: var(--azul);
					padding-bottom: 15px !important;
				}

				& p{
					padding-bottom: 15px !important;
				}
					&:hover{
					transform:scale(1.1,1.1);
					}
			}
		}


		&-link{
			max-width: 250px;
			margin: 60px auto 0 auto;
		}
	}

	&-fondo{
		position: absolute;
		top: 100px;
		width: 80%;
		margin: 0 auto;
		left: 0;
		right: 0;
		z-index: 1;
	}

}



/*clientes*/

.clientes{
	 background: -webkit-image-set(url('../img/bg-testimoniostrans.png') 1x, url('../img/bg-testimoniostrans@2x.png') 2x) #f4f4f4;
	position: relative;
	border-bottom: 2px solid #223E7A;
	&-wrapper{
		max-width: 426px;
		margin: 0 auto;
		padding: 7% 0 10% 0;
		overflow: hidden;

		@media(--Mobile){
			
			padding: 20% 0 20% 0;
		}

		@media(--SmallMobile){
			
			max-width: 300px;
		}

		&-riel{
			width: 300%;
			display: flex;
			display: -webkit-flex;
			flex-direction:row;
			-webkit-flex-direction:row;
			flex-wrap:wrap;
			-webkit-flex-wrap:wrap;

			&-item{
				width:426px;
				@media(--SmallMobile){
			
				max-width: 300px;
				}
				&-testimonial{
					margin-bottom: 15px;
					& p{
						line-height: 25px;

					}
				}

				&-autor{
					display: flex;
			display: -webkit-flex;
			flex-direction:row;
			-webkit-flex-direction:row;
			flex-wrap:wrap;
			-webkit-flex-wrap:wrap;
			align-items:center;
			-webkit-align-items:center;
					&-imagen{
						width: 60px;
						margin-right: 10px;
						-webkit-clip-path: circle(50% at 50% 50%);
						clip-path: circle(50% at 50% 50%);
						& img{
							
						}
					}

					&-firma{
						& h3{
							font-family: "glenn";
							font-weight:bold;
							font-size: 15px;
							color: var(--azul);

						}

						& p{
							color: var(--azulclaro);
							font-size: 13px;

						}
					}
				}
			}

		}
	}

	&-puntos{
		position: absolute;
		width: 10%;
		margin: 0 auto;
		left: 0;
		right: 0;
		bottom: 60px;
		@media(--SmallTablet){
			bottom: 20px;
			width: 20%;
		}
		& ul{
			list-style: none;
			display: flex;
			display: -webkit-flex;
			flex-direction:row;
			-webkit-flex-direction:row;
			flex-wrap:wrap;
			-webkit-flex-wrap:wrap;
			align-items:center;
			-webkit-align-items:center;
			justify-content:space-around;
			-webkit-justify-content:space-around;

			& .activo{
				background: #053670;
			}

			& li{
				width: 15px;
				height: 15px;
				cursor: pointer;
				border-radius: 50%;
				background: #DADADA;
				border:2px solid #DADADA;
				transition:all .3s;
			}

		}
	}
}


/*contacto*/

.contacto{
	background: #2b5f9d;
background: -moz-linear-gradient(top, #2b5f9d 0%, #053670 100%);
background: -webkit-linear-gradient(top, #2b5f9d 0%,#053670 100%);
background: linear-gradient(to bottom, #2b5f9d 0%,#053670 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b5f9d', endColorstr='#053670',GradientType=0 );
	&-wrapper{
		max-width: 50%;
		margin:0 auto;
		padding: 5% 0;

		@media (--Mobile){
			max-width: 90%;
		}

		&-titulo{
			text-align: center;
			margin-bottom: 35px;
			color: white;

			& p{
				color: white;
				display: block;
				margin-top: 15px !important;
			}
		}

		&-formulario{

			&-wrapper{
				display: flex;
			display: -webkit-flex;
			flex-direction:row;
			-webkit-flex-direction:row;
			flex-wrap:wrap;
			-webkit-flex-wrap:wrap;
			
			}
			& input{
				border: none;
				background: #032A58;
				padding-top: 21px;
				padding-bottom: 21px;
				margin-bottom: 25px;
				color: white;
				font-family: "glenn";
					font-weight: bold;

				&::placeholder{
					color:white;
					font-family: "glenn";
					font-weight: bold;
				}

				&::-ms-input-placeholder{
					color:white;
					font-family: "glenn";
					font-weight: bold;
				}

				&:-ms-input-placeholder{
					color:white;
					font-family: "glenn";
					font-weight: bold;
				}

				&:nth-child(2){
					margin-right:2%;
				}

			}

			& textarea{
				border: none;
				background: #032A58;
				padding-top: 21px;
				padding-bottom: 21px;
				margin-bottom: 25px;
				color: white;
				font-family: "glenn";
				min-height: 20vh;
					font-weight: bold;
					&::placeholder{
					color:white;
					font-family: "glenn";
					font-weight: bold;
				}

				&::-ms-input-placeholder{
					color:white;
					font-family: "glenn";
					font-weight: bold;
				}

				&:-ms-input-placeholder{
					color:white;
					font-family: "glenn";
					font-weight: bold;
				}

			}

			& .completo{
				width: 98%;
				padding-left:2%;
				

			}

			& .mitad{
				width: 47%;
				padding-left: 2%;
				@media (--Tablet){
					width: 45.7%;
				}


				@media (--SmallTablet){
					width: 100%;
				}


				
			}

			& button{
				border: none;
				width: 100%;
				cursor: pointer;
				height: auto;
				line-height: initial;
			}
		}
	}


}

/*footers*/

.piepagina{
	background: #060606;

	&-wrapper{
		max-width: 90%;
		margin:  0 auto;
		padding: 2% 0;
		color: white;
		display: flex;
			display: -webkit-flex;
			flex-direction:row;
			-webkit-flex-direction:row;
			flex-wrap:wrap;
			-webkit-flex-wrap:wrap;
			align-items:center;
			-webkit-align-items:center;
			justify-content:space-around;
			-webkit-justify-content:space-around;

			@media(--Mobile){
					padding: 10% 0;
				}
	
			&-direccion{
		width: 20%;
		@media(--SmallTablet){
					width: 100%;
					text-align: center;
					margin-bottom: 25px;
				}

		& h3{
			color: white;
			font-family: "glenn";
			padding-bottom: 7px!important;

		}

		& p{
			color: white;
			line-height: 30px;

		}
	}

	&-mapasitio{
		width: 50%;
		@media(--Tablet){
			width: 10%;
		}

		@media(--SmallTablet){
					width: 100%;
				}
		& ul{
			list-style: none;
			display: flex;
			display: -webkit-flex;
			flex-direction:row;
			-webkit-flex-direction:row;
			flex-wrap:wrap;
			-webkit-flex-wrap:wrap;
			align-items:center;
			-webkit-align-items:center;
			justify-content:space-around;
			-webkit-justify-content:space-around;

			@media(--Mobile){
					flex-direction:column;
			-webkit-flex-direction:column;
				}

			& li a{
				text-decoration: none;
				font-size: 20px;
				color: white;
				font-family: 'Roboto', sans-serif;
				font-weight: bold;
				@media(--Tablet){
					padding: 5px 0 0 0 !important;
					display: block;
				}
			}
		}
	}

	&-social{
		display: flex;
			display: -webkit-flex;
			flex-direction:row;
			-webkit-flex-direction:row;
			flex-wrap:wrap;
			-webkit-flex-wrap:wrap;
			align-items:center;
			-webkit-align-items:center;
			justify-content:space-around;
			-webkit-justify-content:space-around;

			@media(--SmallTablet){
					width: 250px;
					margin-top: 35px;


				}

			& img{
				width: 30px;
				margin: 0 10px;
				background: #000000;
				padding: 15px;
				
			}
	}

	}


}

.subfooter{
	background: #000000;

	&-wrapper{
		max-width: 90%;
		margin:  0 auto;
		padding: 15px 0;
		display: flex;
			display: -webkit-flex;
			flex-direction:row;
			-webkit-flex-direction:row;
			flex-wrap:wrap;
			-webkit-flex-wrap:wrap;
			align-items:center;
			-webkit-align-items:center;
			justify-content:space-between;
			-webkit-justify-content:space-between;
			& p{
				color: white;
			}
	}
}


/*PAGINA NOSOTROS----------------------------------------------*/

.hero-nosotros{
	max-height: 100vh;
	overflow: hidden;
	padding-top: 150px;
	 background: -webkit-image-set(url('../img/bg-nosotros-hero.png') 1x, url('../img/bg-nosotros-hero@2x.png') 2x) fixed;
	 position: relative;
	 @media(--Mobile){
	 	padding-top: 50px;
	 	height: 100vh;
	 }
	 &-gradient{
	 	width: 100vw;
	 	height: 500px;
	 	position: absolute;
	 	left: 0;
	 	bottom: 0;
	 background: -moz-linear-gradient(top, rgba(0,0,0,0) 26%, rgba(2,2,2,0) 27%, rgba(112,112,112,0.15) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 26%,rgba(2,2,2,0) 27%,rgba(112,112,112,0.15) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 26%,rgba(2,2,2,0) 27%,rgba(112,112,112,0.15) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26707070',GradientType=0 );
z-index: 2;

	 }


	 &-foto{
	 	width: 400px;
	 	position: absolute;
	 	right: 20%;
	 	top: 80px;
	 	z-index: 1;
	 	@media(--Tablet){
	 		right: 5%;
	 	}

	 	@media (--Mobile){
	 		top:auto;
	 		bottom:-150px;
	 		left:0;
	 		right:0;
	 		margin:0 auto;

	 	}

	 	@media(--SmallMobile){
	 		width: 350px;
	 	}

	 	@media(--XXSmallMobile){
	 		width: 300px;
	 	}
	 }

	&-wrapper{
		position: relative;
		z-index: 3;
		max-width: 80%;
		margin: 0 auto;
		display: -webkit-flex;
			flex-direction:row;
			-webkit-flex-direction:row;
			flex-wrap:wrap;
			-webkit-flex-wrap:wrap;
			align-items:center;
			-webkit-align-items:center;
			padding:0 0 3% 0;

			&-item:nth-child(1){
				width: 30%;
				@media(--Mobile){
					width: 100%;
					margin: 25px 0;
					order:2;
				}

				& h1{
					color: var(--azul);
				}

				& p{
					line-height: 20px;
				}
			}

			&-item:nth-child(2){
				width: 50%;
				@media(--Mobile){
					width: 100%;
					margin: 25px 0;
					order:1;
				}

				& img{
					width: 60%;
					margin: 0 auto;

					@media(--Mobile){
						width: 50%;
					}

					@media(--SmallMobile){
						width: 80%;
					}

				}
			}
	}
}


.gris{background: #f4f4f4;}

.serv-izq{
	
	overflow: hidden;
	position: relative;
	display: flex;
	display: -webkit-flex;
	flex-direction:row;
	-webkit-flex-direction:row;
	flex-wrap:wrap;
	-webkit-flex-wrap:wrap;

	& .izq{left: 22%; @media(--SmallMobile){left: 0;}}
	& .der{left: 45%; @media(--SmallMobile){left: 0;}}

	&-titulo{
		position: absolute;
		width: 50%;
		
		top: 10%;

		@media(--SmallMobile){
			width: 100%;
		}

		& h1{
			color: white;
			font-size: 4em;
			line-height: 90px;
			@media(--SmallDesktop){
			font-size: 3em;
			line-height: 70px;
			
			}

			@media(--SmallTablet){
			font-size: 2em;
			line-height: 50px;
			
			}
			& span{
				background: var(--azul);
				
				padding: 5px 5px;
			}
		}
	}

	&-contenido{
		width: 50%;
		display: flex;
		display: -webkit-flex;
		align-items:center;
		-webkit-align-items:center;
		@media(--Mobile){
			width: 100%;
			order:2;
		}
		&-wrap{
			

			&-sol{
				margin: 15px auto;
				width: 70%;

				@media(--Mobile){
					margin: 35px auto;
				}

				& h2{
					color: var(--azul);
				}

				& ul{
					padding-left: 20px !important;
					& li{
						padding: 10px 0 !important;
						font-family: 'Roboto', sans-serif;
						color: #707070;
						font-size: 18px;
						@media(--SmallDesktop){
							font-size: 13px;
							padding: 5px 0 !important;
						}
					}
				}
			}

			& .division{
				margin: 35px 0;
				@media(--SmallDesktop){
					margin: 15px 0;
					
					}

			}

			&-bene{
				margin: 15px auto;
				width: 70%;
				@media(--Mobile){
					margin: 35px auto;
				}
				& h2{
					color: var(--azul);
				}

				& ul{
					padding-left: 20px !important;
					& li{
						padding: 10px 0 !important;
						font-family: 'Roboto', sans-serif;
						color: #707070;
						font-size: 18px;
						@media(--SmallDesktop){
							font-size: 13px;
							padding: 5px 0 !important;
						}
					}
				}
			}
		}
	}

	&-imagen{
		width: 50%;
		@media(--Mobile){
			width: 100%;
			order:1;
		}
	}


}

/*CTAS*/
 


.metodologia-bg{background: -webkit-image-set(url('../img/bg_nuestrametodologia.png') 1x, url('../img/bg_nuestrametodologia@2x.png') 2x) fixed no-repeat center center var(--azul);}
.noticias-bg{background: -webkit-image-set(url('../img/bg_noticias.png') 1x, url('../img/bg_noticias@2x.png') 2x) fixed no-repeat center center var(--azul);}
.cta{
	min-height: 250px;

	display: flex;
	display: -webkit-flex;
	align-items:center;
	-webkit-align-items:center;
	position: relative;

	&-gradient{
		width: 100%;
	 	height: 100px;
	 	position: absolute;
	 	left: 0;
	 	bottom: 0;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.39) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.39) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.39) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#63000000',GradientType=0 );
z-index: 1;

	}

	&-wrapper{
		position: relative;
		z-index: 2;
		width: 90%;
		margin: 0 auto;
		color: white;
		display: flex;
	display: -webkit-flex;
	flex-direction:row;
	-webkit-flex-direction:row;
	flex-wrap:wrap;
	-webkit-flex-wrap:wrap;
	justify-content:space-between;
	-webkit-justify-content:space-between;
	align-items:center;
	-webkit-align-items:center;

		&-texto{
			width: 80%;
			@media (--SmallMobile){
				width: 100%;
			}
			& p{
				color: white;
			}

		}


		&-btn{
			width: 20%;
			@media (--SmallMobile){
				width: 100%;
				margin-top: 
				35px;
			}


		}
	}
}

/*industrias*/

.industrias{
	min-height: 100vh;
	&-wrapper{
		max-width: 80%;
		margin: 0 auto;

		&-titulo{
			text-align: center;
			padding: 5% 0;
			max-width: 45%;
			margin: 0 auto;
			@media(--Mobile){
				max-width: 100%;
			}
			& h1{color: var(--azul);}
		}

		&-contenido{
			margin: 5% 0;
			display: flex;
			display: -webkit-flex;
			flex-direction:row;
			-webkit-flex-direction:row;
			flex-wrap:wrap;
			-webkit-flex-wrap:wrap;

			&-item{
				width: 16.6666666%;
				position: relative;
				height: 200px;
				display: flex;
			display: -webkit-flex;
			align-items:center;
			-webkit-align-items:center;
			overflow: hidden;
			@media(--SmallTablet){
				width: 33.333333%;
			}

			@media(--SmallMobile){
				width: 100%;
			}
			&:hover > .industrias-wrapper-contenido-item-imagen{transform:scale(1.5,1.5);}
				&-imagen{position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; transition:all .3s;& img{height: 100% !important;}}
				&-texto{
					position: relative;
					z-index: 3;
					text-align: center;
					width: 100%;
					& p{
						color: white;
						font-family: "glenn";
						font-size: 14px;

					}

				}

				&-textoultimo{
					position: relative;
					z-index: 3;
					text-align: right;
					width: 80%;
					margin: 0 auto;
					
					& p{
						color: white;
						font-family: "glenn";
						font-size: 14px;

					}
				}

				&-gradientultimo{
					position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2;background: rgb(64,143,236);
background: -moz-linear-gradient(-45deg, rgba(64,143,236,1) 0%, rgba(233,60,236,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(64,143,236,1) 0%,rgba(233,60,236,1) 100%);
background: linear-gradient(135deg, rgba(64,143,236,1) 0%,rgba(233,60,236,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#408fec', endColorstr='#e93cec',GradientType=1 );
				}
				&-gradient{position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2;background: -moz-linear-gradient(-45deg, rgba(69,72,77,0.8) 0%, rgba(0,0,0,0.8) 100%);
background: -webkit-linear-gradient(-45deg, rgba(69,72,77,0.8) 0%,rgba(0,0,0,0.8) 100%);
background: linear-gradient(135deg, rgba(69,72,77,0.8) 0%,rgba(0,0,0,0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc45484d', endColorstr='#cc000000',GradientType=1 );}

			}
		}
	}
}


/*animation*/

@keyframes radar {
     0% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
            opacity: 1;
        }
        100% {
            transform: scale(2.0);
            -webkit-transform: scale(2.0);
            opacity: 0;
        }
}


-webkit-@keyframes radar {
     0% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
            opacity: 1;
        }
        100% {
            transform: scale(2.0);
            -webkit-transform: scale(2.0);
            opacity: 0;
        }
}


-moz-@keyframes radar {
     0% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
            opacity: 1;
        }
        100% {
            transform: scale(2.0);
            -webkit-transform: scale(2.0);
            opacity: 0;
        }
}


-o-@keyframes radar {
     0% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
            opacity: 1;
        }
        100% {
            transform: scale(2.0);
            -webkit-transform: scale(2.0);
            opacity: 0;
        }
}




@keyframes radarnu {
     0% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
            opacity: 1;
        }
        100% {
            transform: scale(2.0);
            -webkit-transform: scale(2.0);
            opacity: 0;
        }
}


-webkit-@keyframes radarnu {
     0% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
            opacity: 1;
        }
        100% {
            transform: scale(2.0);
            -webkit-transform: scale(2.0);
            opacity: 0;
        }
}


-moz-@keyframes radarnu {
     0% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
            opacity: 1;
        }
        100% {
            transform: scale(2.0);
            -webkit-transform: scale(2.0);
            opacity: 0;
        }
}


-o-@keyframes radarnu {
     0% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
            opacity: 1;
        }
        100% {
            transform: scale(2.0);
            -webkit-transform: scale(2.0);
            opacity: 0;
        }
}




/*Hojas de estilo elber*/
.hero-noticias{
	margin-top: 45px;
	
	background-image: -webkit-image-set(url('../img/bg-noticias.png') 1x, url('../img/bg-noticias@2x.png') 2x) var(--azul) ;
	background-color: var(--azul);
	background-repeat: no-repeat;
	background-position: center;
	&-wrapper{
		padding: 55px 0;
		max-width: 30%;
		margin: 0 auto;
		text-align: center;
		color: white;
		@media(--Mobile){
			max-width: 60%;
			background-image: -webkit-image-set(url('../img/bg-cambiar imagen.png') 1x, url('../img/bg-noticias@2x.png') 2x) var(--azul) ;
		}

		& p{
			color: white;
		}

	}
}

.noticiasinterno{
	background: #F4F4F4;
		&-wrapper{

			padding: 5% 0;
			max-width: 95%;
			margin: 0 auto;
			display: flex;
			display: -webkit-flex;
			flex-direction: row;
			-webkit-flex-direction: row;
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;

			&-columna{
				width: 27.3%;
				margin: 0 3%;

				@media(--SmallTablet){
					width: 31.3%;
					margin: 0 1%;
				}
				@media(--Mobile){
					width: 100%;
					margin:0;
				}

				&-card{

					padding: 35px;
					margin: 10px 0 10px 0;
					background: #FFFFFF;
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					border-radius: 10px;
					
					& img{
						margin-bottom: 10px;
					@media(--Mobile){
						max-width: 50%;
						margin-right: auto;
						margin-left: auto;
					}

					}

					& p{
						margin-bottom: 14px !important;
						 
					}	
					& h2{
						color: var(--azul);
						margin-bottom: 10px !important;
						@media(--SmallTablet){
							font-size: 20px;
						}
					}	
					&-boton{
						display: flex;
						display: -webkit-flex;
						flex-direction: row;
						-webkit-flex-direction: row;
						flex-wrap: wrap;
						-webkit-flex-wrap: wrap;
						align-items: center;
						-webkit-align-items: center;

					& a{
						width: 50%;

						}
					}	
					& .linea{
						height: 1px;
						background: #707070;
						width: 46%;
						margin-right: 4% 
					}	
				 }

				 & .rayaceleste{
				 		margin-bottom: 40px;
						background: #408FEC;
						height: 12px;
						width:45%;
					}
				& .card-g{
					min-height: 600px;
					@media(--Mobile){
					min-height: auto;	

					}

				}
				& .card-ch{
					min-height: 347px;
					@media(--Mobile){
					min-height: auto;	
					}
				}
			}
		}
	}


.datos{
	background-image: -webkit-image-set(url('../img/bg-contacto.png') 1x, url('../img/bg-contacto@2x.png') 2x) ;
	background-color: #F4F4F4;
	background-repeat: no-repeat;
	background-position: center;

	@media (--SmallTablet) {
					background-image: none !important;		
				}
	
	&-wrapper{
			display: flex;
			display: -webkit-flex;
			flex-direction: row;
			-webkit-flex-direction: row;
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			justify-content: space-around;
			-webkit-justify-content: space-around;

			padding: 55px 0;
			max-width: 50%;
			margin: 0 auto;
			text-align: center;

		&-columna{
			
			width: 45%;
			@media (--SmallTablet) {
					width: 100%;			
				}
		
		&-item{
				display: flex;
				display: -webkit-flex;
				flex-direction: row;
				-webkit-flex-direction: row;
				flex-wrap: wrap;
				-webkit-flex-wrap: wrap;
				align-items: center;
				-webkit-align-items: center;
				margin: 10px 0;

				@media (--LargeDesktop) {
					flex-direction: column;
					-webkit-flex-direction: column;				
				}
				@media (--SmallTablet) {
					margin: 20px 0 ;			
				}

				& p { 
					color: var(--azul);
					
					& span{color: var(--azulclaro);}	
				 }
				
				& img{
					@media (--SmallTablet) {
					margin-bottom: 10px;			
					}
				}
			}
		}
	}

}

/*version 2 estilos elber*/

.metologiainterior{
	&-wrapper{
			margin: 0 auto;
			display: flex;
			display: -webkit-flex;
			flex-direction: row;
			-webkit-flex-direction: row;
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			justify-content: space-between;
			-webkit-justify-content: space-between;
			align-items: center;
			max-width: 85%;
			padding:   5% 0;
		&-columna{
		width: 40%;

		@media (--MediumMobile){
			width: 100%;
			padding: 3% 0;
		}

			& img{
				
				
			}
			& h1{
				color: var(--azul);	}
			& p{
				margin-top: 5px;

			}
		}
	}
}

.factores{
	background: #F4F4F4;
	&-wrapper{
			margin: 0 auto;
			padding: 5% 0;
			max-width: 70%;
			@media (--SmallMobile){
					max-width: 70%;
				}

		&-titulo{ 
			text-align: center;
			margin:  0  auto 50px  auto;

			& h2{
				color: var(--azulclaro);
			}

		}
		&-content{ 
			display: flex;
			display: -webkit-flex;
			flex-direction: row;
			-webkit-flex-direction: row;
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			text-align: center;
			

			&-item{
				
				width: 16.666%;
				min-height: 173px;
				display: flex;
				display: -webkit-flex;
				align-items: center;
				-webkit-align-items: center;
				justify-content: center;
				-webkit-justify-content: center;

				-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.40);
				-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.40);
				box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.40);
				background: #2b5f9d;
background: -moz-linear-gradient(top, #2b5f9d 0%, #053670 100%);
background: -webkit-linear-gradient(top, #2b5f9d 0%,#053670 100%);
background: linear-gradient(to bottom, #2b5f9d 0%,#053670 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b5f9d', endColorstr='#053670',GradientType=0 );
				
				transition: all .3s ;
				@media (--Tablet){
					width: 33.333%;
				}
				@media (--MediumMobile){
					width: 50%;
				}
				@media (--SmallMobile){
					width: 100%;
				}

				&:hover{
					transform:scale(1.2,1.2);
					-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.20);
					-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.20);
					box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.20);




				}

			}

			& p{
				font-size: 13px;
				font-family: "glenn";
				font-weight: bold;
				color: white ;

				@media (--SmallDesktop){
					font-size: 13px;
				}

				@media (--SmallMobile){
					font-size: 18px;
				}

					
			}
		 }
	}
}

.titulos2{
			display: flex;
			display: -webkit-flex;
			flex-direction: row;
			-webkit-flex-direction: row;
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			justify-content: space-around;
			-webkit-justify-content: space-around;
			max-height: 40vh;
			overflow: hidden;
			@media (--XXSmallMobile){
				padding:   8% 0;
			}
	&-wrapper{
			margin: 0 auto;
			max-width: 90%;
			padding:   10% 0;
			@media (--SmallTablet){
				padding:   10% 0;
			}
	&-columna{
		width: 35%;
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
		-webkit-flex-direction: column;
		justify-content: center;

		@media (--SmallDesktop){
					width: 25%;
				}

		@media (--SmallTablet){
				width: 100%;
				padding:5%;
			}


		
		& .rayaceleste { 
			margin-bottom: 15px;
			background: #408FEC;
			height: 19px;
			width:20%;
		 }
	}	
	}
}





.implementacion{
	background: #F4F4F4;
	border-bottom: 1px solid #707070;
	&-wrapper{
		margin: 0 auto;
			display: flex;
			display: -webkit-flex;
			flex-direction: row;
			-webkit-flex-direction: row;
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			justify-content:space-around;
			-webkit-justify-content: space-around;
			align-items: center;
			max-width: 85%;
			padding:   5% 0;
			
			@media (--XXSmallMobile){
				padding:   10% 0;
			}
		&-columna{
			width: 35%;
		 & img{ 
				@media (--SmallTablet){
					width: 90%;
					margin: 0 auto;
				}
			}

			@media (--SmallTablet){
				width: 100%;
				margin-top: 20px;
			}

			& h1{
		 		color: var(--azul);	}
		 }
	}
}



.etapas{
	background: #F4F4F4;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	align-items: center;
	-webkit-align-items: center;
	&-wrapper100{  }
	&-wrappercolumnas{
		background: green;
		&-item{
			

		}
	}

}

.implementacioniconos{
			background: #F4F4F4;
			display: flex;
			display: -webkit-flex;
			flex-direction: row;
			-webkit-flex-direction: row;
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			align-items:center;
			-webkit-align-items:center;
			justify-content: space-around;
			-webkit-justify-content: space-around;
			max-height: 50vh;
			overflow: hidden;
	& .linaoscura{background: #707070;}

	&-wrapper{
			margin: 0 auto;
			max-width: 80%;
			padding:   10% 0;
			
	
	&-columna{
		width: 45%;
		display: flex;
		display: -webkit-flex;
		flex-direction: row;
		-webkit-flex-direction: row;
		justify-content: space-around;
		-webkit-justify-content: space-around;
		align-items: center;
		@media (--MediumDesktop) {
			width: 35%;
		}
		@media (--SmallTablet){
				width: 100%;
				margin-top: 20px;
				padding: 3%;
			}


		& .contentimg{ 
			width: 20%;
			@media (--SmallTablet){
				width: 16%;
			}
		}
		& .contenttext{
			width: 60%;
			@media (--SmallTablet){
				width: 68%;
			}
		}



		}	
		
	}
}


.cambio{
	padding: 4% 0;
	max-width: 90%;
	margin: 0 auto;
	&-titulo{

		&-wrapper{ width: 90%;}
		& h1{color: var(--azul);}
	}
	&-curvagf{
		display: flex;
		display: -webkit-flex;
		flex-direction: row;
		-webkit-flex-direction: row;
		justify-content: flex-end;
		-webkit-justify-content: flex-end;
		@media (--SmallTablet){
				display: block;
				flex-direction: column;
				-webkit-flex-direction: column;
			}
		&-wrapper{
			display: flex;
			display: -webkit-flex;
			flex-direction: row;
			-webkit-flex-direction: row;
			justify-content: space-around;
			-webkit-justify-content: space-around;
			align-items: center;
			width: 70%;
			@media (--SmallTablet){
				
				flex-direction: column;
				-webkit-flex-direction: column;
				width: 100%;
				margin:0 auto;
			}
			& .contenttext {
				width: 35%;
				@media(--SmallTablet){ 
						width: 100%;
						text-align: center;
						padding: 5% 0;

						order:2;
				 }
			}
			& .contentimg {
				width: 50%;
				@media(--SmallTablet){
						width: 100%;
						text-align: center;
						padding: 5% 0;
						order:1;
				 }
			}


			& img{
				@media(--SmallTablet){ 
						width: 60%;
						margin: 0 auto;
						
				 }

				 @media (--MediumMobile){
					width: 80%;
					margin: 0 auto;
				}
			}
			
		}
	}

	&-rompecabezagf{
		display: flex;
		display: -webkit-flex;
		flex-direction: row;
		-webkit-flex-direction: row;
		justify-content: flex-start;
		-webkit-justify-content: flex-start;
		&-wrapper{
			display: flex;
			display: -webkit-flex;
			flex-direction: row;
			-webkit-flex-direction: row;
			justify-content: space-around;
			-webkit-justify-content: space-around;
			align-items: center;
			width: 70%;
			@media (--SmallTablet){
				
				flex-direction: column;
				-webkit-flex-direction: column;
				width: 100%;
				margin:0 auto;
			}

			& .contentimg {
				width: 40%;
				@media(--SmallTablet){ 
						width: 100%;
						text-align: center;
						padding: 5% 0;
				 }

			}
			& .contenttext {
				width: 40%;
				@media(--SmallTablet){ 
						width: 100%;
						text-align: center;
						padding: 5% 0;	
				 }

			}

			& img{
				@media(--SmallTablet){ 
						width: 50%;
						margin: 0 auto;
						
				 }

				@media (--MediumMobile){
					width: 80%;
					margin: 0 auto;
				}
			}
		}
	}
}




/*fin*/


/*INCIO interno-noticias*/

.interno-noticias{
	margin: 0 auto;
	max-width: 50%;
	@media(--Mobile){
		max-width: 90%;
	}
	&-wrapper{
		
		padding: 5% 0;
		flex-direction: column;
		-webkit-flex-direction: column;
	
	&-rayaceleste{
			
			background: #408FEC;
			height: 19px;
			width:10%;
	}

	&-contentimg{
		width: 50%;
		margin: 0 auto;
		padding: 5%;

	}

	&-contenttext{
		& p{
						margin-bottom: 14px !important;
						font-size: 20px;
						line-height: 25px;
						 
					}	
		

		& h1{
						color: var(--azul);
						padding: 30px 0 !important;
		}

		& h2{
						color: var(--azul);
						margin-bottom: 10px !important;
						@media(--SmallTablet){
							font-size: 20px;
						}
					}

		& h3{
			color: var(--azul);
			padding: 0 0 5px 0 !important;
			font-family: 'Roboto', sans-serif;
			font-size: 22px;
						line-height: 25px;


		}

		& img{
			display: block;
			margin: 0 0 25px 0;
		}


		& blockquote{

			font-family: 'Roboto', sans-serif;
			font-size: 20px;
						line-height: 35px;
			font-style: italic;
			color: #a7a7a7;
			border-left: 2px solid  #a7a7a7;
			padding-left: 10px;



		}	

	}


	}
}

/*Final interno-noticia*/



